.cartLists {
  width: 435px;
  height: 173px;
  background-color: #30334432;
  border-radius: 17px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 2px 8px,
    rgba(17, 17, 26, 0.05) 0px 4px 16px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 45px;
  padding: 0 30px;
  overflow: auto;
}
