@keyframes slide-in-left {
  from {
    transform: translateX(-30%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.container {
  position: relative;
  width: 115px;
  font-weight: bold;
  animation: slide-in-left 1s ease-out;
}

.quantity {
  width: 40px;
  height: 40px;
  color: #fcfeff;
  background-color: #f3bf1c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  left: -15px;
}

.close {
  width: 40px;
  height: 40px;
  color: #fcfeff;
  font-weight: bold;
  background-color: #444444;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  right: -15px;
}

.item {
  width: 115px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #eeeeee;
  background-color: #fcfeff;
  border-radius: 17px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 2px 8px,
    rgba(17, 17, 26, 0.05) 0px 4px 16px;
}

.item img {
  width: 44px;
}

.item p {
  padding: 0 3px;
  margin-top: 5px;
  font-size: 14px;
  color: #444444;
  text-align: center;
  word-break: keep-all;
}
