.wrapper {
  width: 770px;
  height: 700px;
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfeff;
  z-index: 2;
}

.done {
  transition: opacity 1s;
  opacity: 0;
}

.container {
  width: 571px;
  height: 423px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.info {
  width: 570px;
  height: 257px;
  display: flex;
  gap: 40px;
}

.menu {
  width: 240px;
  height: 254px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #eee;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25);
  border-radius: 17px;
  text-align: center;
  align-items: center;
}

.menu img {
  width: 118px;
  height: 127px;
}

.menu span {
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
}

.options {
  width: 290px;
  height: 257px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.size,
.temperature {
  display: flex;
  justify-content: space-between;
}

.size button,
.temperature button {
  width: 134px;
  height: 70px;
  border: none;
  border-radius: 17px;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
}

.size button {
  background-color: #456463;
  color: #fff;
}

.temperature button {
  background-color: #f3bf1c;
}

.counter {
  width: 142px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.counter > div {
  display: flex;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #444;
  align-items: center;
  justify-content: center;
}

.count {
  color: #444;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
}

.counter button {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  color: #444;
  display: flex;
  align-items: center;
  text-align: center;
}

.decision {
  width: 571px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.cancel {
  width: 144px;
  height: 70px;
  border: none;
  border-radius: 17px;
  background-color: #808080;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  color: #fcfeff;
}

.add {
  width: 386px;
  height: 70px;
  border-radius: 17px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  background-color: #e93755;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  color: #fcfeff;
}

button {
  cursor: pointer;
}
