.item {
  background-color: #fcfeff;
  width: 240px;
  height: 254px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eeeeee;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 17px;
  margin-bottom: 60px;
  padding: 19px 0 24px;
  flex-basis: 45%;
  cursor: pointer;
  position: relative;
}

.item img {
  width: 118px;
  height: 127px;
  margin-bottom: 20px;
}

.item p {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  word-break: keep-all;
  color: #303345;
}

.item .name {
  margin-bottom: 13px;
}

.sticker::before {
  content: '인기';
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: -30px;
  top: -30px;
  background-color: #ffd566;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(
    50% 0%,
    63.23% 9.3%,
    79.39% 9.55%,
    84.62% 24.84%,
    97.55% 34.55%,
    92.8% 50%,
    97.55% 65.45%,
    84.62% 75.16%,
    79.39% 90.45%,
    63.23% 90.7%,
    50% 100%,
    36.77% 90.7%,
    20.61% 90.45%,
    15.38% 75.16%,
    2.45% 65.45%,
    7.2% 50%,
    2.45% 34.55%,
    15.38% 24.84%,
    20.61% 9.55%,
    36.77% 9.3%
  );
}
