.container {
  background-color: #eee;
  overflow-x: hidden; /* 수정 */
  width: 900px;
  height: 90px;
}

.container ul {
  display: flex;
  height: 90px;
  width: fit-content;
  padding: 0;
}

.container ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  padding: 10px;
  border: 1px solid #fcfeff;
  background-color: #303345;
  white-space: nowrap;
  color: #fcfeff;
}

.container ul li:last-child {
  margin-right: 0;
}

.container ul li button {
  background-color: transparent;
  color: #fcfeff;
  font-size: 24px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 0;
}
